<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document List</title>
</head>
<body>
    <h1>Uploaded Documents</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Document ID</th>
                <th>Document Name</th>
                <th>Conversation Link</th>
            </tr>
        </thead>
        <tbody>
            {% for document in documents %}
            <tr>
                <td>{{ document.id }}</td>
                <td>{{ document.name }}</td>
                <td>
                    <!-- Link to conversation page for this document -->
                    <a href="{% url 'convo_list' document.id %}">View Conversations</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="{% url 'upload' %}">Upload a New Document</a>
</body>
</html>